.blankBadge {
  background-color: grey;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  /* height: auto; */
  /* width: 10%; */
}
.doodle {
  height: auto;
  width: 30%;
}
.blankBadge {
  height: auto;
  width: 30%;
}
.doodle img {
}
