.blankBadge {
  background-color: grey;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  width: 30%;
}
