.intro {
  display: flex;
  flex-direction: column;
  font-family: 'Amatic SC', cursive;
  margin-left: 3%;
}
.title {
  font-size: 55px;
}
.details {
  font-size: 35px;
  margin-top: 0;
}
.FlavorList {
  list-style: none;
  font-family: 'Amatic SC', cursive;
  font-size: 22px;
}
