header a {
  color: turquoise;
}
header {
  background-image: url('../assets/applemintlimeonblue2.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.HyppoImg {
  /* height: 50%; */
  height: 60%;
}
.link {
  justify-self: flex-end;
}
