.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2% 5% 5% 5%;
  /* height: 70%;
  width: auto; */
}

.hero-image {
  height: 70%;
  width: auto;
}

.message {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  /* margin-top: 5%; */
}
.title {
  margin-bottom: 0;
}
.banners {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.publix {
  margin: 2% 5% 2% 5%;
}
.flavors {
  display: flex;
  justify-content: center;
  background-image: url('../assets/wood.jpg');
  margin: 1% 5% 1% 5%;
  background-size: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
  padding: 5%;
}
.flavors a {
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 5rem;
}
@media (max-width: 650px) {
  .flavors a {
    font-size: 2rem;
  }
}
.visit {
  margin: 2% 5% 2% 5%;
}
