.LocationImage img,
.BuildingImage img {
  height: auto;
  width: 60%;
}
.LocationDetails {
  display: flex;
  justify-content: center;
  margin-left: 5%;
}
.strong {
  font-size: 2rem;
}
p {
  font-family: 'Amatic SC', cursive;
}
